* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

body {
  background-color: #0f172a;
}

/* HERO */
.hero {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(135deg, #1e3a8a, #020617);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Overlay */
.hero .overlay {
  position: absolute;
  inset: 0;
  background: url('./OIP.jpg')
    center/cover no-repeat;
  opacity: 0.2;
}

/* Content */
.content {
  position: relative;
  max-width: 900px;
  text-align: center;
  color: #fff;
  padding: 40px;
}

.content h1 {
  font-size: 64px;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
}

.content h1 span {
  font-size:100px;
  color: hsl(323, 71%, 45%);
}

.content h1 strong {
  font-size:100px;
    color: hsl(323, 71%, 45%);
}

.content p {
  margin-top: 24px;
  font-size: 50px;
  color: #e5e7eb;
}

/* Buttons */
.buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.btn {
  padding: 14px 32px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn.primary {
  background: linear-gradient(135deg, #22c55e, #16a34a);
  color: #022c22;
}

.btn.primary:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 30px rgba(34, 197, 94, 0.4);
}

.btn.outline {
  border: 2px solid #facc15;
  color: #facc15;
}

.btn.outline:hover {
  background-color: #facc15;
  color: #020617;
}

/* Responsive */
@media (max-width: 768px) {
  .content h1 {
    font-size: 40px;
  }

  .content p {
    font-size: 16px;
  }
}
